[
  {http_server, [
    {db, #{
      host => "localhost",
      username => "postgres",
      password => "postgres",
      database => "db_server"
    }},
    {db_pool, #{
      name => {local, pg_pool},
      worker_module => http_server_db,
      size => 5,
      max_overflow => 2
    }}
  ]}
].